body {
    /* overflow-x: hidden; */
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 0px 12%;
}

p,
a,
h2 {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.tagline {
    text-align: center;
    color: #999999;
}

header {
    margin: 0px 12%;
    background-color: black;
    position: fixed;
    top: 0;
    margin: 0px auto;
    width: calc(100% - 24%);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.menu-panel {
    background-color: #999999;
    color: white;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.4s ease;
}

.menu-panel ul {
    list-style: none;
    padding: 50px 20px;
}

.menu-panel ul li {
    margin-bottom: 20px;
}

.menu-panel ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.close-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#burger {
    display: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 0.5rem;
}

nav ul li a:hover {
    color: #ffbd39;
}

#home-section,
#about-section,
#resume-section,
#services-section,
#skill-section,
#project-section,
#award-section,
#contact-section {
    border: transparent 1px solid;
    max-width: 100%;
    height: auto;
    margin: 60px auto;
}

#home-section {
    max-width: 100%;
    height: calc(100vh - 60px);
    background-image: url("/Assets/Images/profile1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

#home-section .content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#home-section .content h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

#home-section .content h2 {
    font-weight: normal;
    letter-spacing: 0.4rem;
    font-size: 2rem;
}

#home-section .content span {
    color: #ffbd39;
}

#home-section .content .btn {
    margin-top: 5rem;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0.5rem;
}

#home-section .content .btn a {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 50px;
    letter-spacing: 0.1rem;
}

#btn-hire {
    background-color: #ffbd39;
    color: black;
}

#btn-project {
    background-color: black;
    color: white;
    border: 1px solid gray;
}

#about-section {
    height: auto;
    display: flex;
    justify-content: space-between;
}

#about-section img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

#about-section .content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.title h2 {
    margin-top: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

#about-section .tagline {
    text-align: left;
}

.bio-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-section .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#about-section .info span {
    margin-bottom: 1rem;
    font-family: "Archivo Black", sans-serif;
}

#about-section .details span {
    font-family: "Poppins", sans-serif;
    margin-left: 3rem;
    color: #999999;
}

#about-section a {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #999999;
}

#about-section .btn-cv {
    padding: 15px 20px;
    border-radius: 50px;
    background-color: #ffbd39;
}

.card-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-items: center;
    margin-top: 30px;
}

.card {
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.card .year {
    font-family: "Archivo Black", sans-serif;
    color: #ffbd39;
    font-size: 1.5rem;
}

.card h2 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.card .location {
    font-family: "Archivo Black", sans-serif;
    color: #999999;
    letter-spacing: 0.2rem;
}

.card p {
    font-family: "Poppins", sans-serif;
    color: #999999;
}



#services-section .card-container {
    grid-template-columns: repeat(3, 1fr);
}

#services-section .card {
    height: 15rem;
    align-items: center;
    transition: 400ms;
}

#services-section .card-container .card:hover {
    transform: scale(1.1, 1.1);
}

#services-section .card-container:hover .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.card img {
    width: 7.5rem;
    height: 7.5rem;
}

.card h3 {
    font-family: "poppins", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.skill-container {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-container .glass {
    position: relative;
    width: 10rem;
    height: 10rem;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
}

.skill-container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
}

.skill-container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-container .glass img {
    width: 6rem;
    height: 6rem;
    position: relative;
    bottom: 10px;
}

#skill-section h3 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-align: center;
    margin: 30px auto;
}

#project-section .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project-card {
    position: relative;
    width: 100%;
    height: 17rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-content a {
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
}

.project-card:hover .card-content {
    transform: rotateX(0deg);
}

.card-title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.project-card:hover img {
    scale: 0;
}

.card-description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

#award-section .card-container {
    grid-template-columns: repeat(3, 1fr);

    & img {
        width: 100%;
    }
}

#contact-section .card-container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

#contact-section .card {
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-color: #1a1a1a;
    align-items: center;
}

.contact-form .form {
    width: 50%;
    height: 100%;
    background-color: #1b1b1a;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form {
    width: 100%;
    height: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

form input,
form textarea {
    line-height: 2rem;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

form button {
    width: 50%;
    padding: 15px;
    font-size: 16px;
    margin-top: 2rem;
    border: none;
    border-radius: 8px;
    background-color: #ffbd39;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border-radius: 50px;
}

footer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 2rem;

    & h3 {
        margin: 0px;
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
    }
}

.footer-links nav ul {
    flex-direction: column;
    align-items: baseline;
    margin: 0px;

}

.footer-links nav ul li {
    justify-content: space-between;
}

.footer-about {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-evenly;

    & p {
        color: #999999;
    }
}

.footer-about nav img {
    margin-right: 1rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & nav ul li a {
        margin: 0px;
        color: #999999;
    }
}

.footer-links .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.1rem;
}

.path {
    display: flex;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-contact .info {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-contact .details {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-between;
    color: #999999;
    padding-left: 2rem;
}

/* Mobile 320px 375px 425px*/
@media only screen and (min-width: 320px) and (max-width: 767px) {

    /* General */
    body {
        overflow-x: hidden;
        margin: 0px 5%;
        max-width: 100%;
        font-size: 0.9rem;
    }

    .title h2 {
        margin: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 1.5rem;
        text-align: center;
    }

    .card img {
        width: 5rem;
        height: 5rem;
    }

    /* Header */
    header {
        width: calc(100% - 10%);
    }

    header nav ul {
        display: none;
    }

    #burger {
        display: block;
    }

    .menu-panel.active {
        right: 0;
    }

    /* home */
    #home-section {
        max-width: 100%;
        height: auto;
        background-image: url("/Assets/Images/profile1.png");
        background-repeat: no-repeat;
        background-position: calc(100% + 158px);
        background-size: cover;
    }

    #home-section .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #home-section .content h1 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0px;
        margin: 5rem 0px;
        text-align: center;
    }

    #home-section .content h2 {
        display: none;
    }

    #home-section .content .btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    #home-section .content .btn a {
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 50px;
        letter-spacing: 0.1rem;
    }

    #btn-project {
        background-color: transparent;
        color: white;
        border: 1px solid gray;
        margin-top: 1rem;
    }

    #btn-hire {
        background-color: #ffbd39;
        color: black;
    }

    /* about */
    #about-section img {
        display: none;
    }

    #about-section .content {
        display: block;
        width: 100%;
    }

    #about-section .content .tagline {
        text-align: center;
    }

    #about-section .info span {
        margin: 10px 0px;
    }

    .bio-data {
        margin: 1rem auto;
        height: auto;
    }

    .btn-cv {
        margin-top: 1rem;
        display: flex;
        justify-content: baseline;
        align-items: center;
        width: 46%;
        height: 1rem;
        padding: 5px 5px;
    }

    #about-section a {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        text-decoration: none;
        color: #999999;
    }

    /* resume */
    #resume-section .card {
        height: 45vh;
        padding: 20px;
    }

    /* services */
    #services-section .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #services-section .card {
        height: 13rem;
        padding: 15px;
        justify-content: space-around;
    }

    /* skills */
    .skill-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
    }

    .skill-container .glass {
        position: relative;
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
        margin: 0 auto;
    }

    .skill-container .glass img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        bottom: 0px;
    }

    .skill-container .glass::before {
        display: none;
    }

    /* project */
    #project-section .card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .project-card {
        width: 100%;
        height: 12rem;
    }

    .card-content {
        height: inherit;
        padding: 8px;
    }

    .card-content a {
        margin-top: 10px;
    }

    /* award */

    #award-section .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* contact */
    #contact-section .card-container {
        height: auto;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    #contact-section .card {
        padding: 0px;
        height: 15rem;
    }

    .contact-form {
        height: auto;
        flex-direction: column-reverse;
    }

    .contact-form .form,
    .contact-form img {
        width: 100%;
    }

    .form form {
        margin-top: 2rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    form input,
    form textarea {
        width: 75%;
        padding: 5px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        outline: none;
    }

    form button {
        font-size: 12px;
        letter-spacing: 0px;
        padding: 12px 0px;
        margin-bottom: 2rem;
    }

    /* footer */
    footer {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;

        & h3 {
            font-size: 1.5rem;
            margin: 1rem 0px;
        }
    }

    .footer-about nav img {
        margin-top: 1rem;
    }

    .footer-links {
        align-items: baseline;
    }

    .footer-contact {
        align-items: baseline;
    }
}

/* Tablet = 768px to 1024px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* General */
    body {
        overflow-x: hidden;
        margin: 0px 5%;
        max-width: 100%;
        font-size: 0.9rem;
    }

    .title h2 {
        margin: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 1.5rem;
        text-align: center;
    }

    .card img {
        width: 5rem;
        height: 5rem;
    }


    /* Header */
    header nav ul {
        display: none;
    }

    #burger {
        display: block;
    }

    .menu-panel.active {
        right: 0;
    }

    header {
        width: calc(100% - 10%);
    }

    /* home */
    #home-section {
        max-width: 100%;
        height: auto;
        background-image: url("/Assets/Images/profile1.png");
        background-repeat: no-repeat;
        background-position: calc(100% + 158px);
        background-size: cover;
    }

    #home-section .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-evenly;
    }

    #home-section .content h1 {
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0px;
        margin: 5rem 0px;
        text-align: left;
    }

    #home-section .content h2 {
        width: 44%;
        letter-spacing: 0.2rem;
    }

    #home-section .content .btn {
        width: 45%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    #home-section .content .btn a {
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 50px;
        letter-spacing: 0.1rem;
    }

    #btn-project {
        background-color: transparent;
        color: white;
        border: 1px solid gray;
        margin-top: 1rem;
    }

    #btn-hire {
        background-color: #ffbd39;
        color: black;
    }

    /* about */

    #about-section .content {
        display: block;
        width: 100%;
    }

    #about-section .content .tagline {
        text-align: center;
    }

    #about-section .info span {
        margin: 10px 0px;
    }

    .bio-data {
        justify-content: space-evenly;
        margin: 1rem auto;
        height: auto;
    }

    .btn-cv {
        margin-top: 1rem;
        display: flex;
        justify-content: baseline;
        align-items: center;
        width: 46%;
        height: 1rem;
        padding: 5px 5px;
    }

    #about-section a {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        text-decoration: none;
        color: #999999;
    }

    /* resume */
    #resume-section .card {
        width: 80%;
        height: 30vh;
        padding: 15px;
    }

    /* services */
    #services-section .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #services-section .card {
        height: 10rem;
        padding: 15px;
        justify-content: space-around;
    }

    #services-section .card h3 {
        font-size: 1rem;
    }

    /* project */
    #project-section .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card {
        width: 100%;
        height: 17rem;
    }

    /* contact */
    #contact-section .card-container {
        height: auto;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }

    #contact-section .card {
        padding: 0px;
        height: 15rem;
    }

    .contact-form img {
        object-fit: cover;
    }

    .form form {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    form input,
    form textarea {
        width: 80%;
        padding: 5px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        outline: none;
    }

    form button {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 12px 0px;
    }

    /* footer */
    footer {
        grid-template-columns: repeat(1, 1fr);


        & h3 {
            font-size: 1.5rem;
            margin: 1rem 0px;
        }
    }

    .footer-about nav img {
        margin-top: 1rem;
    }

    .footer-links {
        align-items: baseline;
    }

    .footer-contact {
        align-items: baseline;
    }
}

/* laptop = 1024px to up */
@media only screen and (min-width: 1024px) {

    /* home */
    #home-section .content .btn {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    /* about */
    #about-section .details span {
        margin-left: 4rem;
    }

    /* resume */
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #resume-section .card {
        padding: 20px;
    }

    /* services */

    #services-section .card {
        width: 15rem;
    }

    /* contact */
    #contact-section .card-container {
        align-items: baseline;
    }

    .form form {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    form input,
    form textarea {
        width: 80%;
        font-size: 14px;
    }

    form input {
        line-height: 1rem;
    }
}